.wrap {margin-bottom:30px; margin-top:30px; width:105.7em;}
.wrap.nomarginbottom {margin-bottom:0;}
.wrap.nomargintop {margin-top:0;}
.wrap-site {margin:0 auto; width:97.5em;}
.wrap-site * {text-align:left;}
.content-wrap {background:#fff; padding:20px;}
.header--styleguide {color:#0064b7;}
.header--section {background:#e9f2f6; margin-bottom:1em; margin-top:80px; padding:10px;}
.header--styleguide--h1 {background:#e9f2f6; margin-bottom:.5em; padding:5px 10px;}
.header--styleguide--h3 {margin-bottom:20px; margin-top:40px;}
h1 {margin-bottom:.6em;}
ul, ol {margin:1em 0 2em 0;}
ol li {line-height:1.4em;}
li {margin-bottom:.3em;}
a {text-decoration:underline;}
a:hover, a:active, a:focus {text-decoration:none;}
.example {border:1px solid #e5e5e5; padding:50px 20px 20px 20px;}
.example--header {background:#f7f7f7;}
.example > span {background:#fff; border:1px solid #e5e5e5; display:inline-block; font-size:16px; margin-left:-21px; margin-top:-51px; padding:5px;  position:absolute;}
.healthaz-content {border:1px solid #e2e2e2; padding: 1.5em;}
.col-secondary {float:none;}
.col-secondary a {text-decoration:none;}
.col-secondary a:hover, .col-secondary a:active, .col-secondary a:focus {text-decoration:underline;}
.col-secondary ul, .col-secondary ol {margin-bottom:1em;}
.col-secondary ul li, .col-secondary ol li {margin-bottom:0;}
.col-secondary ol li {border-bottom:1px solid #efefef; color:#00649b; font-size:1.5em; padding:.5em; position:relative; }
.col-secondary ol li:last-child {border-bottom:0; padding-bottom:0;}
.nopaddingbottom {padding-bottom:0 !important;}
.nomarginbottom {margin-bottom:0 !important;}
.nomargintop {margin-top:0 !important;}
.margintop20 {margin-top:20px !important;}
.margintop30 {margin-top:30px !important;}
.paddingbottom20 {padding-bottom:20px;}
.centre {text-align:center;}
.livewell h1 {margin-left:.4em;}
.livewell .row .two {margin-right:0; width:56.9em;}
.livewell .col {margin:0;}
.livewell .article-header-image {border:1px solid  #e2e2e2; border-bottom:0; padding:1.5em;}
.livewell .article-header-image img {width:100%;}
.livewell .article {border:1px solid  #e2e2e2; border-top:0; padding:1.5em;}
.livewell .two .featured-article-wrap {margin:0; width:100%;}
.livewell .row .featured-article-wrap .one {border:1px solid #e2e2e2; display:block; width:100%;}
.featured-article, .featured-article-wide .pad {padding:1.5em;}
.featured-article h3, .featured-article-wide h3 {font-size:2.2em; font-weight:normal; margin-bottom:.3em; margin-top:0;}
.featured-article h3 a, .featured-article ul li a, .featured-article-wide h3 a {text-decoration:none;}
.featured-article h3 a:hover, .featured-article h3 a:active, .featured-article h3 a:focus, .featured-article ul li a:hover, .featured-article ul li a:focus, .featured-article ul li a:active, .featured-article-wide h3 a:hover, .featured-article-wide h3 a:active, .featured-article-wide h3 a:focus {text-decoration:underline;}
.featured-article ul, .featured-article ul li {color: #00649b;}
.featured-article ul {margin:0;}
.featured-article ul li {margin-bottom:0;}
.featured-article-wrap img {float:left; width:183px;}
.featured-article .pad {float:right; height:auto; padding-bottom:1.5em; width:33em;}
.featured-article-wide {background: #fff; border:1px solid #e2e2e2; }
.featured-article-wide .image {float:left; overflow:hidden; width:12.5em;}
.featured-article-wide .image img {width:125px;}
.featured-article-wide .text {float:left; margin-left:2em; width:39.2em;}
.featured-article-wide p {padding-bottom: 0;}
.featured-article-wide .comments-link {font-size:1.4em; margin-top:.8em; float:right; padding:0;}
.featured-article-wide .comments-link a {background:url(../img/icon-comment-person.gif) 0 .2em no-repeat; display:block; padding-left:15px; text-decoration:none;}
.bth-hub .bx-shd {border:1px solid #e2e2e2; width:100%;}
.bth-hub .bx-shd .pad {padding:1.5em;}
.bth-hub .bx-shd h3 {margin-top:0;}
.bth-hub .bx-shd h3 a {text-decoration:none;}
.bth-hub .bx-shd h3 a:hover, .bth-hub .bx-shd h3 a:active, .bth-hub .bx-shd h3 a:focus {text-decoration:underline;} 
.bth-hub .bx-shd .date {font-size:1.4em; padding-bottom:.8em;}
.bth-hub .bx-shd .image {float:right; margin-left:2em;}
.bth-hub .bx-shd .image img {width:125px;}
.bth-hub .bx-shd p {padding-bottom: 0;}
.bth .article {background:#fff; border:1px solid #e2e2e2; padding:1.5em;}
.bth .title .col-secondary p {font-weight:bold; margin-right:1em; text-align:right;}
.bth .col-primary .image-small {float:right; margin:0 0 2em 2em; width:166px;}
.bth .col-primary .image img {width:100%;}
.bth .col-primary .image p {font-size:1.5em; font-weight:bold; padding-top:.2em;}
/* colours */
.colour-col ul {list-style:none;}
.colour-col ul li {float:left; margin-right:30px; text-align:center; width:12%;}
.colour-col span {display:inline-block; height:50px; width:50px;}
.choices-blue {background:#0064b7;}
.brand-orange {background:#f60;}
.bullseye-red {background:#900;}
.body-text {background:#333;}
.title-headers {background:#587300;}
.nhs-blue {background:#0064b7;}
.top-tertiary {background:#666;}
.white {border:1px solid #ddd;}
.error {background:#f00;}
.background1 {background:#f7f7f7;}
.keyline {border:1px solid #e2e2e2;}
.horizontal-rule-dark {background:#e2e2e2;}
.horizontal-rule-light {background:#efefef;}
.background2 {background:#e9f2f6;}
.button {background:#578300;}
.button-hover {background:#360;}
.button-blue-hover {background:#036;}
.dark-grey {background:#333;}
.grey01 {background:#666;}
.grey02 {background:#e2e2e2;}
.grey03 {background:#efefef;}
.grey04 {background:#f7f7f7;}
/* buttons */
.buttons .col {margin-right:30px;}
.buttons p {margin-bottom:10px;} 
.buttons p.button {background:none; margin-bottom:40px;}
.button a {background:#0064b7; border-radius:5px; color:#fff; padding:10px 20px; text-decoration:none;}
.button a:hover, .button a:active, .button a:focus, .button-active a {background:#036;}
.footer-button-wrap {background:#0064b7; display:inline-block; padding:20px 30px;}
.footer-button {background:#fff; border-radius:5px; padding:10px;}
.footer-button-wrap p.button {margin:0; padding:5px 0;}
.footer-button-wrap p.button a {border:0; font-size:13px; font-weight:bold; padding:10px;}
.header {border:0; margin:60px 0 0 0; padding:0;}
.header .searchbar {float:none;}
.header .submit input, .header .submit input:hover {background-image:url(../img/search-magnifying-glass.png);}
.header .submit input.active {background-color:#036;}
/* form elements */
.formelements .col {margin-right:80px; width:28em;}
.formelements .col-small {margin-right:60px; width:16em;}
.formelements label {display:block; margin-bottom:5px; margin-top:30px;}
.formelements label:first-child {margin-top:0;}
.formelements input {padding:.3em; width:100%;}
.formelements select {box-shadow:0 0 3px 0 #fff; font-size:1.4em; padding:.3em; width:100%;}
.formelements input:focus, .textinputfocus, .selectinputfocus {box-shadow:0 0 2px 0 #999;}
.labelerror {color:#f00;}
input.textinputerror {border:1px solid #f00; box-shadow:0 0 3px 0 #f00;}
.formelements .checkbox {width:auto;}
.formelements span.error {background:none; border:0; display:inline; margin:auto; position:relative; padding:0;}
.formelements .multipleselect {width:18em;}
/* fonts */
.fontsheader {color:#000; font-size:3em;}
.fontsize24 {font-size:2.4em;}
/* logo */
.colour-logo ul li {text-align:left; width:15%;}
.colour-logo span {height:40px; width:40px;}
/* header */
.header h1 {margin-bottom:0;}
ul.translate {margin:0 20px 0 0;}
a.translate-text {background:url(../img/translate-sprite.gif) right 1px no-repeat; color:#666; float:left; font-size:13px; font-weight:normal; padding-right:18px; text-decoration:none;}
a.translate-text:hover, a.translate-text:active, a.translate-text:focus {text-decoration:underline;}
ul.personal-header {margin:0;}
ul.personal-header li.logged-out, ul.personal-header li.logged-in {background-image:url(../img/login.png);}
.header.main-header {border:1px solid #e2e2e2; margin:0 0 20px 0; padding:15px;}
.header.main-header .searchbar {float:right;}
.header.main-header .main-nav ul {margin:0;}
.main-nav li li {margin-bottom:0;}
.zindex {z-index:-1;}
.healthaz .tabs-nav {padding:0; width:100% !important;}
.healthaz .sub-nav {background:#fff !important; padding:1.2em 0; margin:0; width:100% !important;}
.healthaz ul.tabs {display:table; font-size:1.7em; margin:0; table-layout:fixed; width:100%;}
.healthaz ul.tabs:after {content:none;}
.healthaz ul.tabs li {background:#016799; background:#06c; background:#1966b5; background:#578300; border-left:2px solid #f7f7f7; bottom:-1px; line-height:1.5em; margin-right:0; position:relative; text-align:center;}
.healthaz ul.tabs li a {display:block; font-weight:normal; padding:.3em 1em;}
.healthaz ul.tabs li a:hover, .healthaz ul.tabs li a:focus, .healthaz ul.tabs li a.hover {background:#360; text-decoration:underline;}
.healthaz ul.tabs li a:active {background:#fff; color:#333;}
.healthaz ul.tabs li.active {background:#fff; border:1px solid #e2e2e2; border-bottom:0; margin-left:2px; padding:.3em 1em;}
.healthaz ul.tabs li.active .active-text {color:#333; font-weight:normal; padding:0;}
.healthaz ul.tabs li:first-child {border-left:0; margin-left:0;}
.healthaz ul.tabs li.active:first-child {border-left:1px solid #e2e2e2;}
.healthaz .sub-nav {border:1px solid #e2e2e2; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-box-sizing:border-box;}
.healthaz .sub-nav li {border-left:1px solid #e2e2e2; display:block; float:left; margin-bottom:0; width:auto;}
.healthaz .sub-nav li:first-child {border-left:0; margin-left:.3em;}
.healthaz .sub-nav li a {background:transparent; color:#333; padding:0; text-decoration:underline; white-space:nowrap;}
.healthaz .sub-nav li a:hover {text-decoration:none;}
.healthaz .sub-nav li a, .healthaz .sub-nav li span {line-height:1em;}
.example.healthaz li span {border:0; display:inline; font-size:inherit; margin-left:0; margin-top:0; padding:0; position:relative;}
.example.healthaz .sub-nav li span {padding:0 .8em;}
.nonunderline {text-decoration:none !important;}
/* footer */
ul.footer-tabs, ul.footer-tabs li, .footer-logos ul {margin-bottom:0;}

@media (max-width:640px) {
	.wrap, .col-primary {width:auto !important;}
	.col-secondary {border:0; padding:0; width:auto !important;}
 
}